@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  max-height: 700px;
  height: 600px;
  background: #333;
  padding: 25px;
  border-radius: 5px;
  box-shadow: -5px -5px 14px 2px #333, 4px 4px 10px 2px #333;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.wrapper .input_field {
  margin-bottom: 25px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: 1px solid white;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color:transparent;
  color: white;
}

.wrapper textarea {
  resize: none;
  height: 140px;
}

.wrapper .btn input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: rgb(232, 32, 32);
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message {
  margin-bottom: 20px;
  background: red;
  color: white;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  margin: 20px;
  position: relative;
}
h1 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 7ch;
  font-style: oblique;
  text-shadow: 2px 2px 3px rgb(231, 231, 231);
}
.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
  position: sticky;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
.navbar a.active {
  background-color: #aa0404;
  color: white;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.fa-facebook {
  background: #4267b2;
  color: white;
}
.fa-twitter {
  background: #1da1f2;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 30px;
  text-decoration: none;
}
.footer {
  width: 98%;
  overflow: hidden;
  background-color: black;
  border: solid #aa0404;
  height: 80px;
  border-radius: 8px;
  position: absolute;
  top: 800px;
  right: 10px;
  box-shadow: 5px 5px 12px rgb(171, 12, 12) inset;
  bottom: 10px;
}
.foot {
  position: relative;
}
.social {
  position: absolute;
  right: 10px;
  top: 20px;
}
.logo {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 50%;
}
