html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: black;
  margin: 20px;
}
.main {
  position: absolute;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
  justify-content: center;
}

div.photo {
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  float: left;
  width: 300px;
  align-items: center;
  height: 200px;
  filter: brightness(100%);
}

div.photo:hover {
  border: 2px solid red;
  filter: brightness(65%);
}

div.photo img {
  width: 100%;
  height: 90%;
}

div.photo {
  padding: 15px;
  text-align: center;
}
.desc {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
h1 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 7ch;
  font-style: oblique;
  text-shadow: 2px 2px 3px rgb(231, 231, 231);
}
a :target {
  width: 100vw;
  height: 10vw;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
.navbar a.active {
  background-color: #aa0404;
  color: white;
  border-radius: 5px;
}
.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.fa-facebook {
  background: #4267b2;
  color: white;
}
.fa-twitter {
  background: #1da1f2;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 30px;
  text-decoration: none;
}
.footer {
  width: 100%;
  overflow: hidden;
  background-color: black;
  border: solid #aa0404;
  height: 80px;
  border-radius: 8px;
  position: absolute;
  top: 750px;
  box-shadow: 5px 5px 12px rgb(171, 12, 12) inset;
}
.foot {
  position: relative;
}
.social {
  position: absolute;
  right: 10px;
  top: 20px;
}
.logo {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 50%;
}
